




}
.owl-controls { display: inline-block; text-align: center;width: 100%;}
.owl-controls .owl-nav { position: absolute; right: 0; top: -60px;}
.owl-controls .owl-prev, .owl-controls .owl-next { border: 1px solid #000; color: #fff; display: inline-block;  float: left; font-size: 0; height: 25px; line-height: 25px; margin: 0 2px;  padding: 0; position: relative; width: 25px;}
.owl-controls .owl-next:after, .owl-controls .owl-prev:after { color: #000; font-family: FontAwesome; font-size: 21px; height: 25px; line-height: 22px; position: absolute;  right: 0; text-align: center; top: 0;
    width: 100%;}
.owl-controls .owl-next:after { content: "";}
.owl-controls .owl-prev:after { content: "";}
.owl-controls .owl-next:hover:after { background: none repeat scroll 0 0 #000; color: #fff;}
.owl-controls .owl-prev:hover:after {background: none repeat scroll 0 0 #000; color: #fff;}
.owl-dots { padding-top: 15px; text-align: center;}
.owl-dots .owl-dot { display: inline-block;margin: 0 3px;}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot span:hover { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #222; border-radius: 50%;  display: inline-block; height: 10px;
    width: 10px;}
.owl-dots .owl-dot span { border: 1px solid #222; border-radius: 50%; display: inline-block; height: 10px;  width: 10px;}
.owl-carousel .owl-item img { display: inline-block;}
.owl-carousel .owl-item .product { margin-bottom: 0;}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot span:hover { background: #000;  border: 1px solid #222; border-radius: 50%; display: inline-block;  height: 10px;  width: 10px;}

#thumb-slider{margin-top: 10px;}


#thumb-large{-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}

.product-detail.col-md-4{position: inherit;}
.product-zoom-image{ width:348px; text-align: center; margin: auto; padding: 2px;   border: 1px solid #ccc; display: table; }
.zoomWindow{margin-left: 10px;}